<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="icon" type="image/svg+xml" href="/favicon.svg">
  <title>{{ page.title }}</title>
  <style>
    html {
  scroll-behavior: smooth; /* スムーズなスクロールを追加 */
}

.page-top {
  position: fixed;
  right: 20px; /* 右からの距離 */
  bottom: 20px; /* 下からの距離 */
  background-color: #333c; /* 背景色 */
  color: #fffc; /* 文字色 */
  padding: 15px;
  border-radius: 50%; /* 円形にする */
  text-decoration: none;
  font-size: 12px;
  z-index: 1000; /* 他の要素より上に表示 */
}
    body { font-family: sans-serif; line-height: 1.6; padding: 20px; max-width: 800px; margin: auto; }
  </style>
</head>
<body>
<a href="#" class="page-top">▲</a>
<span style=" display:flex; align-items: center;"><a href="{{ page.topa }}"><img src="../images/soulfulsoft.svg" height="32"　border=1 alt="SoulfulSoftLogo" /></a>SoulfulSoft</span>
<hr />
  {{ content }}
<hr />
<p style=" text-align: center;">{{ site.copyright }}</p>
</body>
</html>
